.wrapper {
    max-width: 1280px;
    margin: auto;
}
.content {
    width: 986px;
    height: 537px;
    margin: 80px 135px 92px 159px;
    border-radius: 8px;
}

.logopage{
    width: 481px;
    height: 100%;
    background-color: #0e2b57;
    border-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    float: left;
    .welcome{
        width: 125px;
        height: 22px;
        padding: 203px 178px 312px 178px;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: left;
        color:#ffffff
    }
}

.loginpage{
    width: 505px;
    height: 100%;
    background-color: #ffffff;
    border-width: 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    float: right;

    .formComponent{
        width: 265.8px;
        height: 177.6px;
        margin: 96.5px 115px 14.2px 124.2px;
        .form{
            input[type="text"]{
                width: 265.8px;
                height: 30.6px;
                margin: 5.2px 0px 16.6px 0px;
                border-radius: 2px;
                background-color: #ffffff;
            }
            input[type="password"]{
                width: 265.8px;
                height: 30.6px;
                margin: 5.2px 0px 16.6px 0px;
                border-radius: 2px;
                background-color: #ffffff;
            }
            label{
                width: 100%;
                padding-bottom: 5.2px;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.19;
                letter-spacing: normal;
                text-align: left;
                color: #525355;
            }
        }


        .button {
            width: 263.7px;
            height: 34.8px;
            margin: 0px 1.1px 14.2px 1.1px;
            border: 1px solid transparent;
            border-radius: 5px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
            background-color: #1592e6;
            padding: 8.5px 104.7px 9.3px 109px;
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: 0.3px;
            text-align: left;
            color: #ffffff;
        }
    }

    .findPassword{
        width: 63px;
        height: 14px;
        margin: 14.2px 216.4px 39.7px 225.6px;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: left;
        display: inline-block;
        white-space: nowrap;
    }
    .SNS{
        width: 83px;
        height: 14px;
        margin: 0px 206.4px 11.3px 215.6px;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        white-space: nowrap;
    }

    .googlebutton{
        width: 264.8px;
        height: 34.8px;
        margin: 0px 115px 6.2px 125.2px;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: #f81102;
        padding: 8.5px 106.7px 8.3px 105px;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
    }

    .linkdinbutton{
        width: 264.8px;
        height: 34.8px;
        margin: 0px 115px 94px 125.2px;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: #0f5b87;
        padding: 8.5px 106.7px 8.3px 105px;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
    }
}
