.test{
    width: 1280px;
    margin: auto;
    .emailcheckimg{
        margin-left: 38%;
        margin-top: 4%;
        .emailimg{
            width: 40%
        }

     
    }

    .hyungi{
        margin-top: 5%;
        color: black;
        font-size: 22px;
        line-height: 1.23;
        text-align: center;
    }

}