@mixin button-color-set($text-color, $bg-color, $bd-color:null) {
  color: $text-color;
  background-color: $bg-color;
  border-color: $bd-color;

  &:hover, &:focus {
    background: lighten($bg-color, 15%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg-color, 25%);
    transition: all 0.3s ease;
  }
}

@mixin button-size-set($width, $min-width:null, $max-width:null) {
  width:$width;
  min-width: $min-width;
  max-width: $max-width;
}

@mixin link-color-set($normal-color, $hover-color:null) {
  color: $normal-color;
  &:hover, &:focus {
    color: $hover-color;
  }

  &.disabled {
    cursor: default;
    &:hover, &:focus {
      color: $normal-color;
    }
  }
}