
$font-kr-sans: "Noto Sans KR";

/* layout 설정 */
$wide-max-width:1280px;

/* font 설정값 */
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-24: 24px;

/* input field 설정값 */
$input-height-14: 3em;

