.footer {
    //position:absolute;
    width: 100%;
    bottom: 0;
    border: none;   
    margin: auto;
    justify-content: left;
    display: flex;
    height: 55px;
    background-color: #323335;
    
    .column {
        display: flex;
        .content{
            font-size: 15px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left:15px;
            margin-right: 15px;
        }
    }

}
